<div class="row">
    <h2>Вы вошли на сайт "Работа на севере"!</h2>
    <h3>Все зарегистрированные пользовватели:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}}) {{user.formown}}
            - <a (click)="deleteUser(user._id)">Удалить</a>
        </li>
    </ul>
    <p><a [routerLink]="['/login']">Выйти</a></p>
</div>



<!-- Start content -->
<div class="entry-content">
    <!-- Start Small Head -->
    <app-head-applicant></app-head-applicant>
    <!-- End Small Head -->
    
    <div class="row">
        <!-- Start Left Menu -->
        <app-menu-area-applicant></app-menu-area-applicant>
        <!-- End Left Menu -->
    
        <!-- Start Main Employers Page -->
        <router-outlet></router-outlet>
        <!-- End Main Employers Page -->
    
    </div><!-- End row -->
</div>
<!-- End content -->




