
<!-- Start content -->
<div class="entry-content">
    <!-- Start Small Head -->
    <app-head-applicant></app-head-applicant>
    <!-- End Small Head -->
    
    <div class="row">
        <!-- Start Left Menu -->
        <app-menu-area-applicant></app-menu-area-applicant>
        <!-- End Left Menu -->
    
        <!-- Start Main Employers Page -->
        <router-outlet></router-outlet>
        <!-- End Main Employers Page -->
    
    </div><!-- End row -->
</div>
<!-- End content -->




