<!-- Start content -->
<div class="entry-content">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="entry-more">
				<p>Пожалуйста, выберите нужный раздел</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<a class="btn _small _back --category" onclick="history.back(); return false;">Назад</a>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 category-wrap"
				     *ngFor="let category of categores">
					<a [routerLink]="['/step2/', category.id ]"
					   class="--category">
						
						<h4> <!--{{category['id'] }}.--> {{ category['title'] }} </h4>
						<span>{{ category['desc'] }} </span>
					
					</a>
				</div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 category-wrap">
					<a [routerLink]="['']"  class="--category">
						<span class="mbri-code"></span>
					</a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 category-wrap">
					<a [routerLink]="['']" class="--category">
						<span class="mbri-code"></span>
					</a>
				</div>
			</div><!-- End row -->
		</div>
		
		<!-- Start pagination -->
			<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="pagination-centered">
					<ul class="pagination">
						<li>
							<a class="prev" href="#">
								<span class="mbri-arrow-prev"></span>
							</a>
						</li>
						<li class="current"><a href="#">1</a></li>
						<li><a class="" href="#">2</a></li>
						<li><a class="" href="#">3</a></li>
						<li>
							<a class="next" href="#">
								<span class="mbri-arrow-next"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>-->
		<!-- End pagination -->
		
	</div><!-- End row -->
</div>
<!-- End content -->