<!-- Start content -->
<form class="" name="resumeapplicant" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
<div class="entry-content">
	<div class="row"><!-- Start row -->
		<h2 class="entry-title">Форма регистрации</h2>
		<p class="text-center entry-more">Пожалуйста, указывайте корректные данные</p>
		<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7"><!-- Start Form -->
			<!-- Main form -->
			<div class="form-wrap">
				<a class="btn _small _back" onclick="history.back(); return false;">Назад</a>
				<h5>Резюме</h5>
				<!--<form class="" name="resumeapplicant" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate> Start form -->
					
					<div class="form-item --simple">
						<div class="input--yoshiko">
							<input class="field--yoshiko" id="DOB" type="date" name="DOB"
							       #DOB="ngModel"
							       [(ngModel)]="model.DOB"
							       (blur)="blurel($event)">
							<label class="label--yoshiko" for="DOB">
								<span class="content--yoshiko" data-content="Дата рождения:">
									Дата рождения:
								</span>
							</label>
						</div>
						<div *ngIf="f.submitted && !formown.valid" class="help-block">Заполните обязательное поле</div>
					</div>
					
					<div class="form-item --simple">
						<div class="input--yoshiko">
							<select class="field--yoshiko" id="accommodation" name="accommodation"
							        #accommodation="ngModel"
							        [(ngModel)]="model.accommodation"
							        (blur)="blurel($event)">
								<option *ngFor="let accommodation of accommodations" [value]="accommodation">
									{{ accommodation }}
								</option>
							</select>
							<label class="label--yoshiko" for="accommodation">
								<span class="content--yoshiko" data-content="Регион проживания:">
									Регион проживания:
								</span>
							</label>
						</div>
					</div>
					
					<div class="form-item --simple">
						<div class="input--yoshiko">
							<textarea class="field--yoshiko" id="enterEducation" type="text" name="enterEducation"
							          #enterEducation="ngModel"
							          [(ngModel)]="model.enterEducation"
							          (blur)="blurel($event)"
							          placeholder="(через запятую)"></textarea>
							<label class="label--yoshiko" for="enterEducation">
								<span class="content--yoshiko" data-content="Образование:">
									Образование:
								</span>
							</label>
						</div>
					</div>
					
					<div class="form-item --simple">
						<div class="input--yoshiko">
							<textarea class="field--yoshiko" id="previousJobs" name="previousJobs"
							          #previousJobs="ngModel"
							          [(ngModel)]="model.previousJobs"
							          (blur)="blurel($event)"
							          placeholder="(через запятую)"></textarea>
							<label class="label--yoshiko" for="previousJobs">
								<span class="content--yoshiko" data-content="Предыдущие места работы:">
									Предыдущие места работы:
								</span>
							</label>
						</div>
					</div>
					
					<div class="form-item --simple">
						<div class="input--yoshiko">
							<input class="field--yoshiko" id="enterExperience" type="text" name="enterExperience"
							       #enterExperience="ngModel"
							       [(ngModel)]="model.enterExperience"
							       (blur)="blurel($event)"
							       placeholder="Например, '10 лет'">
							<label class="label--yoshiko" for="enterExperience">
								<span class="content--yoshiko" data-content="Общий стаж:">
									Общий стаж:
								</span>
							</label>
						</div>
					</div>
					
					<div class="form-item --simple">
						<div class="input--yoshiko">
							<textarea class="field--yoshiko" id="wishesWork" name="wishesWork"
							          #wishesWork="ngModel"
							          [(ngModel)]="model.wishesWork"
							          (blur)="blurel($event)"
							          placeholder="Введите пожелания"></textarea>
							<label class="label--yoshiko" for="wishesWork">
								<span class="content--yoshiko" data-content="Пожелания к будущей работе:">
									Пожелания к будущей работе:
								</span>
							</label>
						</div>
					</div>


				<!--</form> End form -->
			</div>
		
		</div><!-- End MAIN Form -->
		
		<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5"><!-- Start Help -->
			<h4>ПОМОЩЬ ПРИ ЗАПОЛНЕНИИ</h4>
			<p class="text-center --bold">Что дает регистрация?</p>
			<ol>
				<li>Сохранять вакансии и просматривать историю своих откликов</li>
				<li>Управлять рассылками</li>
				<li>Видеть кто просматривал ваше резюме</li>
			</ol>
			<p class="text-center --bold">Зарегистрируйтесь — это просто и бесплатно!</p>
			<p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
			<p>Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
		</div><!-- End Help -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="form-item --message">
				<div class="checkbox">
					<input id="confirmReliability" type="checkbox" name="confirmReliability"
					       #confirmReliability="ngModel"
					       [(ngModel)]="model.confirmReliability">
					<label for="confirmReliability">Вы подтверждаете достоверность введенной
						информации</label>
				</div>
				<div class="checkbox">
					<input id="consentProcessing" type="checkbox" name="consentProcessing"
					       #consentProcessing="ngModel"
					       [(ngModel)]="model.consentProcessing">
					<label for="consentProcessing">Вы даете согласие на обработку персональных
						данных</label>
				</div>
				<div class="checkbox">
					<input id="privacyPolicy" type="checkbox" name="privacyPolicy"
					       #privacyPolicy="ngModel"
					       [(ngModel)]="model.privacyPolicy">
					<label for="privacyPolicy">
						Вы подтверждаю свое согласие с
						<a href="#">Условиями пользования</a> сайтом northwork.ru и
						<a href="#">Политикой конфиденциальности</a>
					</label>
				</div>
			</div>
			<div class="form-group">
                               
				<button [disabled]="loading" class="btn _large --download">Завершить</button>
				<!--<button [disabled]="!f.valid" class="btn _large --download">Зарегистрироваться</button> -->
				<!--<button [disabled]="loading" class="btn _large --download">Зарегистрироваться</button> -->
				
				
				<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			
			</div>
		</div>
	</div><!-- End row -->
</div>
</form>
<!-- End content -->